<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="item01" class="org.example.common.ItemDTO">
        <constructor-arg name="seq" value="1"/>
        <constructor-arg name="name" value="XML"/>
        <constructor-arg name="value" value="1000"/>
        <constructor-arg name="desc">
            <value>설명입니다.</value>
        </constructor-arg>
    </bean>
</beans>